:root {
  --background-blue: #48919f;
  --dark-grey: #2c3a47;
  --white: #ffffff;
  --primary-red: #e66767;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  background-color: var(--background-blue);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.surveylist {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
}
.surveylist a {
  text-decoration: none;
}
.surveylist__title {
  color: var(--white);
  text-align: center;
  padding: 30px;
  flex: 100%;
}
.surveylist__card {
  background-color: var(--white);
  width: 500px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.surveylist__card:hover {
  transform: translate(0, -5px);
}
.surveylist__card__header {
  background: var(--dark-grey);
  padding: 30px;
}

.surveylist__card__header__name {
  color: var(--white);
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.surveylist__card__body {
  background: var(--white);
  padding: 40px 10px;
}

.surveylist__card__body__numbers{
  display: flex;
  align-items: center;
}

.surveylist__card__body__numbers__item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--primary-red);
}

.surveylist__card__body__numbers__item span{
  display: block;
  color: #2c3a47;
  font-size: 20px;
}

.divider{
  width: 1px;
  height: 30px;
  background: #bbb;
}

.surveydetail {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
  position: relative;
  color: var(--white);
  padding: 30px;
}

.surveydetail__header {
  flex: 100%;
}

.back-button {
  display: block;
  padding: 12px 50px;
  color: var(--primary-red);
  border: 2px solid var(--primary-red);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: .3s linear;
}

.back-button:hover{
  background: var(--primary-red);
  color: var(--white);
}

.surveydetail__summary {
  flex: 1;
}
.surveydetail__summary__title, .surveydetail__summary__text {
  margin-bottom: 10px;
}
.progress-circle__container {
  height: 200px;
  width: 200px;
}

.surveydetail__question-details {
  flex: 2;
}

.accordion-menu{
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.accordion-item{
  border-top: 1px solid --primary-red;
  overflow: hidden;
}
.accordion-item__title{
  display: block;
  padding: 16px 20px;
  background: var(--primary-red);
  color: white;
  position: relative;
}
.accordion-item__title:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background:var(--primary-red);
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.accordion-smenu{
  background: var(--white);
  overflow: hidden;
}
.accordion-smenu a{
  display: block;
  padding: 16px 26px;
  color: black;
  line-height: 20px;
  margin: 4px 0;
  position: relative;
}
.accordion-smenu a:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: var(--primary-red);
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.accordion-smenu a:hover:before{
  opacity: 1;
}
.question-score__container {
  display: inline-block;
  width: 200px;
}